
.register-page {
  display: flex;
  height: 100vh;
  background-color: black;
}

.register-form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 40px 20px; 
}

.register-form {
  width: 100%;
  max-width: 400px; 
}

.register-form h2 {
  font-family: 'Arial', sans-serif;
  font-size: 1.2em;
  color: black;
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}

.register-form input {
  width: 100%; 
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #eee;
  font-size: 1em;
}

.register-button {
  width: 100%; 
  padding: 12px;
  background-color: #a700ff;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.register-button:hover {
  background-color: #9500e5;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.social-login i {
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.register-image-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  text-align: center;
  padding: 20px;
}

.register-image-container img {
  width: 120px;
  margin-bottom: 20px;
}

.register-image-container h1 {
  font-size: 2em;
  color: white;
}

.register-image-container h1 span {
  color: red;
}
